{% extends 'base.html' %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.id}}</td>
            <td><a href="{% url 'detail' object.id %}">{{object.title}}</a></td>
            <td>{{object.writer.username}}</td>
            <td>{{object.created}}</td>
            <td>{{object.updated}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'create' %}" class="btn btn-outline-info float-right">글쓰기</a>
{% endblock %}